/Client/EMS-client/.idea/inspectionProfiles/profiles_settings.xml
/Client/EMS-client/.idea/inspectionProfiles/Project_Default.xml
/Client/EMS-client/.idea/.gitignore
/Client/EMS-client/.idea/EMS-client.iml
/Client/EMS-client/.idea/misc.xml
/Client/EMS-client/.idea/modules.xml
